* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: #111111;
    color: white;
    max-width: 100%;
}
.h1 {
    font-size: 100%;
}

.hero {
    justify-content: space-between;
    grid-template-columns: 2;
    padding: 5.6vw;
    min-height: 80vh;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
}

img {
    max-height: 80%;
}

.saiba-mais {
    display: flex;
}

.saiba-mais-button {
    max-width: 400px;
    padding: 0px;
    align-items: center;
}
.primeiro-text{
    font-size: 100px
}

p {
    font-size: 25px;
    text-align: center;
}

.AUMENTAR {
    font-size: 40PX;
}

.precos-com-etiqueta {
    margin: 0;
}

.textinho {
    margin-left:0 12px;
    justify-content:center;
}

.span {
    color: #d0ef00;
}